<!DOCTYPE html>
<html>
  <head>
    <title>IbarakiCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cbde064e64.js" crossorigin="anonymous"></script>
  </head>
  
  <body class="d-flex flex-column vh-100">
  <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class-"container">
          <a class="navbar-brand p-3" href="/"> <%= image_tag 'kitty cake.jpg', :size =>'200x200' %></a>
          <a class="navbar-brand p-3" href="/"> <%= image_tag 'maron.jpg', :size =>'200x200' %></a>
          <a class="navbar-brand p-3" href="/"> <%= image_tag 'cheese.jpg', :size =>'200x200' %></a>
          <%=link_to root_path, class: 'nav-link text-blue' do %>
          <h1><strong><i class="fas fa-birthday-cake"></i>Ibaraki Cake<i class="fas fa-birthday-cake"></i></strong></h1>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
        <% if user_signed_in? %>
              <p>ようこそ<%= current_user.last_name %>さん！</p>
            <% end %>
    <ul class="navbar-nav ml-auto">
       <% if user_signed_in? %>
       <li class="navbar-link"><%= link_to "マイページ", public_user_path(current_user), class: "btn btn-outline-dark" %></li>
       <li class="navbar-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %></li>
       <% elsif admin_signed_in? %>
              <li class="navbar-link"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %></li>
      <% else %>
       
       
       <li class="navbar-link"><%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark" %></li>
       <li class="navbar-link"><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark" %></li>
       <li class="navbar-link"><%= link_to "管理者ログイン", new_admin_session_path, class: "btn btn-outline-dark" %></li>
      <% end %>
    </ul>
        
      </div>
      </div>
      </nav>
      </header>
      <main class="mb-auto">
       <%= yield %>
       </main>

   <footer class="bg-dark text-white">
      <div class="container">
        <p>©茨城ケーキ</p>
      </div>
  </footer>
  </body>

</html>
